<h1> New Restaurant Form </h1>
<div class="form">
<%= render "form" %>
</div>
<div class="errors">
<% if @errors %>
  <% @restaurant.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
</div>
